.main-container {
    margin: auto;
    width: 80%;
    height: 100%;
    padding: 1rem 0;
}

.header-content {
    background-color: aliceblue;
    /* border: 0.1rem dotted; Erase when style is finish */
    padding: 2rem;
    height: 10%;
}

.body-content {
    /* border: 0.1rem dotted; Erase when style is finish */
    height: 90%;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: cornflowerblue;
}

.subtitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: cornflowerblue;
}