<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAS</title>
    <style>
    </style>
</head>
<body>
<div>
    [[${pmName}]],
    <p>Te env&iacute;o plan de trabajo y responsable por parte de SAS para este proyecto:</p>
    <div th:each="d : ${detail}">
        <b>[[${d.appName}]]</b> responsable <b>[[${d.developer}]]</b>
        <ul>
            <li>Inicio [[${d.startDate}]]</li>
            <li>An&aacute;lisis y dise&ntilde;o [[${d.designDate}]]</li>
            <li>Cosntrucci&oacute;n [[${d.developmentDate}]]</li>
            <li>Cierre [[${d.endDate}]]</li>
        </ul>
    </div>
    Saludos<br/>
    <br/>
    ---<br/>
    Jaime Carreño Méndez.<br/>
    SAS México.<br/>
    Consultor<br/>
    email:jaime.carreno@sas-mexico.com<br/>
    Tel SAS: 55-32-36-94<br/>
    Cel. 55-37-18-66-58<br/>
    www.sas-mexico.com
</div>
</body>
</html>